* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    color: white;
    /*display: flex;
    justify-content: center;
    align-items: center; */
    /*background-color: #000; *//* Fallback background */
    /* overflow: hidden; /* Prevent scrollbars */
}

a {
  color: #aad4ff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

input[type="submit"], button{
  padding: 10px;
  background-color: #184674;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

input[type="submit"]:hover, button:hover{
  background-color: #163d63;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgba(24,70,116, 0.5);
  color: white;
  border-radius: 5px;
}
input:active{
border: none;
color: white;
}
input:focus{
outline: none;
color: white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable-container {
  height: auto;
  padding: 0;
  margin: 0;
  width: auto;
  /*max-height: 100vh; */
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 50px;
  min-width: 400px;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.my-sets-table {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.practice-sets-table {
  background-color: rgba(24,70,116, 0.5);
  margin: 30px;
  min-width: 600px;
  max-width: 90vw;
  width: 90vw;
}

.index-cell {
  white-space: nowrap;
  width: 50px;
}

.options-cell {
  white-space: nowrap;
  width: 150px;
  align-items: center;
}

.options-cell button {
  margin: 0 5px;
}


.gradient-background {
    position: fixed;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background: linear-gradient(0deg, #376E87 0%, #184674 100%); 
    /* background: linear-gradient(0deg, #87376e 0%, #187444 100%); */
    transform-origin: center;
    animation: rotate-gradient 10s infinite linear;
    z-index: -10;
}

nav {
  background-color: rgba(24,70,116, 0.5);
  /*overflow: hidden; */
  width: 100%;
  position: fixed;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between the two lists */
  align-items: center; /* Vertically center items */
  padding: 10px 20px; /* Padding for spacing */
  white-space: nowrap; /* Prevent line breaks */
  flex-wrap: nowrap; /* Prevent wrapping */
}



.navbar-items {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.navbar-items li {
  margin: 0 15px; /* Horizontal spacing between items */
}

.navbar-right {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  margin-left: auto;
  display: flex;
}

.navbar-right li {
  margin-left: 0; /* Optional: spacing on the left */
}
/* Navbar links */
nav a {
  color: white;
  text-align: center;
  padding: 11px 20px;
  text-decoration: none;
  font-weight: bold;
}

/* Change color on hover */
nav a:hover {
  background-color: rgba(16, 47, 79, 0.5);
}

.logo {
  margin-right: auto; /* Allows centering of menu items */
  font-family: Anton;
}
/* Hamburger menu styles */
.menu-toggle {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
}

.mobile-nav-item {
  display: none;
}

/* Hamburger bars */
.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
}

/* Add responsive design */
@media screen and (max-width: 768px) {
  .navbar {
    background-color: rgb(24,70,116);
  }

  .navbar-items {
    display: none; /* Hide the menu by default */
    flex-direction: column; /* Stack items vertically */
    position: absolute; /* Absolute positioning for dropdown */
    top: 50px; /* Adjust based on navbar height */
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: rgba(24,70,116, 0.75); /* Background color for dropdown */
    backdrop-filter: blur(2px);
    z-index: 1000; /* Ensure it's on top */
    box-sizing: border-box;
  }

  .navbar-items li{
    padding-top: 20px 0;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .navbar-items li a {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none; /* Remove underline */
    box-sizing: border-box;
  }

  .navbar-right li a {
    padding: 15px 0;
    color: #333;
    text-decoration: none;
    width: 100%;
    text-align: center;
  }

  .navbar-items.active {
      display: flex; /* Show when active */
  }

  .menu-toggle {
      display: flex; /* Show hamburger menu */
  }

    .navbar-right {
      display: none; /* Hide logout button in mobile view */
  }

  .mobile-nav-item { /* Show log in/ log out button*/
    display: block;
  }

}

/* Background color animiation */
/* ============================================*/
@keyframes rotate-gradient {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* flash messages color */
.danger {
	color: rgb(246, 131, 30);
}
.success {
	color: rgb(21, 211, 21);
}

.flash-messages {
  margin-top: 1em;
  text-align: center;
}

.error-messages {
  margin-top: 1em;
  text-align: center;
}

/* Tables */

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: rgba(17, 46, 76, 0.5);
}

/* Log in form */
/* ============================================*/

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;

}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ccc;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: rgba(24,70,116, 0.5);
    color: white;
}
.input-group input:active{
  border: none;
  color: white;
}
.input-group input:focus{
  outline: none;
  color: white;
}

.login-container {
  color: white;
    width: 100%;
    max-width: 400px;
    padding: 20px;
  /*  background-color: rgba(55, 110, 135, 0.5); */
    border-radius: 8px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #184674;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #163d63;
}

.login-form {
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(55, 110, 135, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #aad4ff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Registration form */
/* ============================================*/
.register-container{
  color: white;
}
.register-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.register-container p {
  text-align: center;
  /* margin-top: 20px; */
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px; /* adjust based on preference */
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(55, 110, 135, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form input[type="submit"]{
  width: 100%;
  padding: 10px;
}

#already-have-account {
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  
}

.form-group label {
  flex: 1; /* Takes up space on the left */
  margin-right: 10px;
  text-align: center; /* Aligns label text */
}

.form-group input {
  flex: 2; /* Takes up space on the right */
  width: 100%;
}

/* particles */
#particle-container{
  z-index: -999;
}


.particle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  animation: floatAndWiggle linear infinite;
  opacity: 0; /* Initially invisible */
}

/* Combined keyframes for floating, wiggling, fading in, and fading out */
@keyframes floatAndWiggle {
  0% {
    transform: translateY(110vh) translateX(0); /* Start at bottom */
    opacity: 0; /* Fully invisible */
  }
  10% {
    opacity: 1; /* Fully visible by 10% */
  }
  25% {
    transform: translateY(75vh) translateX(-20px); /* Move up and slightly left */
    opacity: 0.8;
  }
  50% {
    transform: translateY(50vh) translateX(20px); /* Continue up and slightly right */
    opacity: 0.6;
  }
  75% {
    transform: translateY(20vh) translateX(-20px); /* Continue up and slightly left */
    opacity: 0.4;
  }
  100% {
    transform: translateY(-30vh) translateX(20px); /* Off screen and slightly right */
    opacity: 0; /* Fully faded out */
  }
}

.background-text{
  position: absolute;
  display: flex;
  align-items: justify-content;
  font-size: 18em;
  z-index: -900;
  color: rgba(255,255,255, 0.03);
  font-family: "Anton", sans-serif;
}
.background-text span{
  font-family: "Anton", sans-serif;
}
/*
dialog{
    display: none;
    justify-content: center;
    align-items: center;
    width 400px;
} */

.modal {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 8rem;
}

dialog[close] {
    animation: myFadeOut 0.3s ease normal;
}

dialog[open] {
    animation: myFadeIn 0.2s ease normal;
  }
  
@keyframes myFadeIn{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes myFadeOut{
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }