{% extends "base.html" %}
{% block title %}User profile{% endblock %}
{% block content %}
    <div class="scrollable-container">
        <div class="main-content">
            <div class="options-bar">
                <div class="options-bar-buttons">
                    <a href="/user/{{username}}">
                        <button>Back to profile</button>
                    </a>
                </div>
            </div>
            <div class="flex-center top-margin">
                <h2>Change password</h2>
                <br>
                <div class="change-password-container">
                    <form method="POST" class="change-password-form">
                        <div class="input-group">
                            {{form.old_password.label}}
                            {{form.old_password}}
                        </div>
                        <div class="input-group">
                            {{form.new_password.label}}
                            {{form.new_password}}
                        </div>
                        <div class="input-group">
                            {{form.confirm_new_password.label}}
                            {{form.confirm_new_password}}
                        </div>
                        <div class="input-group">
                            {{form.submit()}}
                        </div>
                    </form>
                </div>
                <div class="flash-messages">
                    {% for error in form.old_password.errors %}
                        <p class="danger">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.new_password.errors %}
                        <p class="danger">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.confirm_new_password.errors %}
                        <p class="danger">{{ error }}</p>
                    {% endfor %}

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}