{% extends "base.html" %}
{% block content %}
    <div class="main-content">
        <div class="display-tables">
            <h1>Edit set</h1>
            <div class="options-bar">
                <div class="options-bar-buttons">
                    <a href="/my_sets">
                        <button class="btn-back-to-my-sets">Back</button>
                    </a>
                </div>
            </div>
            <form method="POST" class="new-set-form">
                <div class="display-inline">
                    <label for="set_name">Set name</label>
                    <input name="set_name" type="text" placeholder="Cool set" required>
                    <span>Public</span>
                    <label class="switch" style="margin: 10px 0">
                        <input name="private" type="checkbox" value="0">
                        <span class="slider"></span>
                    </label>
                </div>
                <table class="new-set-table" name="questions_list">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <input type="submit" value="Save" onclick="" class="btn-save-set"></input>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    const editData = {{ response | tojson }}; // get data from Python
</script>
<script src="{{ url_for('static', filename='js/edit_set.js') }}"></script>
{% endblock %}