{% extends "base.html" %}
{% block title %}Edit profile{% endblock %}
{% block content %}
    <div class="scrollable-container">
        <div class="main-content">
            <div class="options-bar">
                <div class="options-bar-buttons">
                    <a href="/user/{{ session['username'] }}">
                        <button>Back to profile</button>
                    </a>
                </div>
            </div>
            <div class="flex-center top-margin">
                <img class="profile-picture" src="{{ url_for('static', filename='uploads/avatars/' + profile_data['avatar_url']) }}.jpg" width="200px", height="200px">
                <!--Upload new profile picture here.-->
                <h2>{{profile_data['username']}}</h2>
                <p style="font-size: 0.8em">Joined {{profile_data['created_timestamp'].strftime('%d/%m/%Y')}}</p>
                <br>
                <h3>Description</h3>
                <textarea style="max-width: 1000px;" class="flex-center" autofocus>{{profile_data['description']}}</textarea>
                <button>Placeholder Save</button>
                <div class="flash-messages">
                    {% with messages = get_flashed_messages(category_filter=["success"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="success">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="danger">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}