{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="main-content">
    {% if username %}
        <h1 style="margin-top: 20px">Welcome, {{username}}</h1>
    {% else %}
        <h1 style="margin-top: 20px">Welcome</h1>
    {% endif %}
    <p>It looks like you've come to the right place to learn!</p>
    {% with messages = get_flashed_messages(with_categories=true)%}
        {% for category, message in messages %}
        <p class="{{category}}">{{message}}</p>
        {% endfor %}
    {% endwith %}
    </div>
{% endblock %}