{% extends "base.html" %}
{% block title %}My sets{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="display-tables">
            <h1>My sets</h1>
            <p class="response-message"></p>
            <div class="options-bar">
                <div class="options-bar-buttons">
                    <a href="/new_set">
                        <button class="btn-new-set">New set</button>
                    </a>
                    <a href="#">
                        <button class="btn-edit-set">Edit</button>
                    </a>
                    <button onclick="backToPracticeSets()" class="btn-back-to-my-sets">Back to my sets</button>
                </div>
            </div>
            <table class="practice-sets-table" style="display: none">
                <thead>
                    <th>No.</th>
                    <th>Set name</th>
                    <th>Options</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="pagination-container"></div>
        <dialog delete-dialog>
            <p>Are you sure you want to delete this practice set?</p>
            <br>
            <button class="confirm-delete-dialog">Yes</button>
            <button class="close-delete-dialog">No</button>
        </dialog>
    </div>


{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/my_sets.js') }}"></script>
{% endblock %}