{% extends "base.html" %}
{% block title %}Practice{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="display-tables">
            <h1>Practice</h1>
            <h2>{{response[0]['set_name']}}</h2>
            
            <div class="options-bar">         
            </div>
            <div class="practice-container">
                
            </div>
        </div>

    </div>
    
{% endblock %}
{% block scripts %}
<script>
    const data = {{ response | tojson }}; // Load data from Python
</script>
<script src="{{ url_for('static', filename='js/practice.js') }}"></script>
{% endblock %}