{% extends "base.html" %}
{% block title %}Practice{% endblock %}
{% block content %}
    <div class="container">
        <div class="display-tables">
            <h2 style="margin-top: 30px">{{response[0]['set_name']}}</h2>
            
            <div class="options-bar">         
            </div>
            <div class="practice-container">
                
            </div>
        </div>

    </div>
    
{% endblock %}
{% block scripts %}

<script>
    const data = {{ response | tojson }}; // Load data from Python
    const userLoggedIn = {{'true' if username else 'false'}};
    console.log(userLoggedIn);
</script>
<script src="{{ url_for('static', filename='js/practice.js') }}"></script>
{% endblock %}